/* NAVBAR CSS */
.main-header {
  position: absolute;
}
.main-menu .navigation > li a:hover,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a {
  color: #84bf36;
}
.menu-btn .btn-bg {
  background-color: #84bf36;
  padding: 6px 12px;
}
.menu-btn .btn-bg:hover {
  background-color: #fff;
  color: #84bf36;
}
/* NAVBAR CSS END */

/* SIDEBAR CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -10px;
  background-color: #fff;
  transition: all 0.5s ease;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #707070;
  display: block;
  transition: all 0.3s ease;
}
.sidenav .menu-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 32px;
  color: #fff;
  background-color: #1c9272;
}
.sidenav .closebtn {
  text-align: end;
  font-size: 32px;
  color: #fff;
  display: flex;
  justify-content: end;
}
.sidenav .menu-btn {
  display: block;
}
.sidenav .menu-btn .btn-bg {
  margin-left: -10px;
  text-align: left;
  color: #fff;
  padding: 8px 8px 8px 42px;
}
/* SIDEBAR CSS END */

/* HEADER CSS */
.carousel-home li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.carousel-home .active {
  background-color: #84bc37;
}
.hero-section {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  height: 95vh;
}
.hero-section.bg-img {
  background-image: url("../img/hero-section/bg-header.png");
  background-size: cover;
  background-position: center;
}
.hero-section.bg-img-2 {
  background-image: url("../img/hero-section/bg-carousel-2.png");
  background-size: cover;
  background-position: center;
}
.hero-section.bg-img-3 {
  background-image: url("../img/hero-section/bg-carousel-3.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-position-x: 20px;
}
.hero-section .hero-mobile1 {
  width: 100%;
  left: -5%;
  top: unset;
  bottom: -70%;
}
.hero-section .hero-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-text p {
  font-size: 30px;
}
.hero-section .btn-bg {
  background-color: #84bf36;
  color: #fff;
  width: 250px;
  padding: 8px 10px;
}
.hero-section .btn-bg:hover {
  transform: scale(1.2);
  color: #84bf36;
  background-color: #fff;
}
.hero-section .btn-carousel-1 {
  position: relative;
  left: -11.5%;
}
.hero-section .btn-carousel-2 {
  position: relative;
  left: -7%;
}
/* HEADER CSS END */

/* ABOUT US CSS */
.about-us-area .row {
  box-shadow: 5px 1px 5px 5px #efefef;
  border-radius: 36px;
}
.about-us-area .row div {
  padding: 15px 10px;
}
.about-us-area {
  padding: 150px 0;
}
.about-us-area h4 {
  color: #84bf36;
  font-weight: 500;
  font-size: 30px;
}
.about-us-area h4:after {
  background: #84bf36;
  width: 150px;
}
.about-us-area h5 {
  font-size: 25px;
  color: #707070;
  margin-bottom: 30px;
}
.about-us-area p {
  color: #707070;
}
.about-us-area .btn-bg {
  background-color: #84bf36;
  color: #fff;
  width: 270px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-area svg {
  margin-left: 10px;
}
.about-us-area .btn-bg:hover {
  background-color: #1c9272;
  transform: scale(1.2);
}
.about-us-area .img-token {
  width: 950px;
  position: absolute;
  max-width: 950px;
  top: -150px;
  left: -120px;
}
.about-us-area .scroll {
  padding: 0 !important;
  overflow-y: scroll;
  max-height: 200px;
}
.about-us-area .img-stars {
  position: absolute;
  bottom: -15%;
  right: -4%;
}
/* ABOUT US CSS END */
/* APP CSS */
.mobile-app-section {
  text-align: right;
  padding: 100px 0;
  background-image: url(../img/app/bg-app.png);
  background-position: center;
  background-size: cover;
}
.mobile-app-section .section-title h4 {
  color: #84bf36;
  font-weight: 500;
  font-size: 30px;
}
.mobile-app-section .section-title h4::after {
  background: #84bf36;
  width: 200px;
  left: unset;
  right: 0;
}
.mobile-app-section .section-title p {
  color: #707070;
  font-size: 16px;
}
.mobile-app-section .hero-mobile1 {
  width: 100%;
  top: -100px;
  left: unset;
  right: 50%;
}
.mobile-app-section .hero-mobile2 {
  width: 100%;
  left: unset;
  right: 10%;
  bottom: 0;
}
.mobile-app-section .hero-mobile2 img {
  width: 80%;
}
.mobile-app-section .btn-bg {
  background-color: #84bf36;
  color: #fff;
  width: 250px;
  padding: 8px 10px;
}
.mobile-app-section .btn-bg:hover {
  transform: scale(1.2);
  color: #fff;
  background-color: #1f9073;
}
.mobile-app-section .btn-play {
  position: absolute;
  background-color: #efefef;
  opacity: 0.8;
  padding: 20px 30px;
  z-index: 15;
  border-radius: 50%;
  font-size: 30px;
  left: 50%;
  cursor: pointer;
  color: #82be36;
  transition: all 1s ease;
}
.mobile-app-section .btn-play i {
  color: #82be36;
  transition: all 1s ease;
}
.mobile-app-section .btn-play:hover,
.mobile-app-section .btn-play:hover i {
  color: #000;
  transform: scale(1.5);
}
/* APP CSS END */

/* ROADMAP CSS */
.road-map-section .container {
  max-width: 1200px;
}
.road-map-section .section-title h4 {
  color: #84bf36;
  font-size: 30px;
  font-weight: 500;
}
.road-map-section .section-title h4.left-bar:after {
  width: 180px;
  background: #84bf36;
}
.timeline__item.first .timeline__content {
  background-color: transparent;
  box-shadow: none;
}
.timeline__item.first .timeline__content .body-img {
  position: absolute;
  left: 15.7%;
  top: -0.5%;
  z-index: 10;
  max-width: 450px;
  width: 100%;
}
.timeline__item.third::after,
.timeline--horizontal .timeline__item.third .timeline__content:before {
  left: 66.5%;
}
.timeline__item.third .timeline__content .body-img-3 {
  position: absolute;
  top: -10%;
  left: -7%;
  z-index: 10;
}
.timeline__item.first .timeline__content h5,
.timeline__item.first .timeline__content p {
  color: #000;
  position: relative;
  left: 25%;
  z-index: 12;
}
.timeline__item.first .timeline__content h5 {
  padding-top: 10px;
  padding-left: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}
.timeline__item.first .timeline__content p {
  text-align: center;
  padding: 0 80px 0 40px;
}
.timeline__item.second .timeline__content h5,
.timeline__item.second .timeline__content p {
  color: #000;
  position: relative;
  z-index: 11;
  padding-left: 30px;
}
.timeline__item.second .timeline__content h5 {
  text-transform: uppercase;
  font-weight: bold;
}
.timeline__item.second .timeline__content p {
  text-align: center;
}

.timeline__item.third .timeline__content h5,
.timeline__item.third .timeline__content p {
  color: #000;
  position: relative;
}
.timeline__item.third .timeline__content h5 {
  text-transform: uppercase;
  font-weight: bold;
}
.timeline__item.third .timeline__content p {
  text-align: center;
  position: relative;
  left: -13%;
}

.timeline__item.first:after {
  width: 40px;
  height: 40px;
  background-color: #84bf36;
}
.timeline__item:after {
  background-color: #84bf36;
}
.timeline:not(.timeline--horizontal):before {
  background-color: #199d73;
}
.timeline--horizontal .timeline__item.first .timeline__content:before {
  background: #84bf36;
}
.timeline--horizontal .timeline__item.first {
  width: 450px !important;
}
.timeline--horizontal .timeline__item .timeline__content:after {
  display: none;
}
.timeline--horizontal .timeline__item.first .timeline__content:before {
  top: 97%;
  height: 230px;
}
.timeline--horizontal .timeline__item.second {
  width: 450px !important;
}
.timeline--horizontal .timeline__item.second .body-img-2 {
  position: absolute;
  top: -20%;
  right: -10.25%;
  z-index: 10;
  max-width: 500px;
  width: 500px;
}
.timeline__item .timeline__content h5 {
  color: #000;
}
.timeline__item .timeline__content p {
  color: #000;
}
.timeline--horizontal
  .timeline__item:nth-child(even)
  .timeline__content:before {
  background: #84bf36;
  height: 155px;
  top: -110%;
}
.timeline--horizontal .timeline__item:nth-child(even):after {
  background: #199d73;
}
.timeline--horizontal .timeline__item.third {
  width: 450px !important;
  padding-bottom: 200px;
}
.timeline--horizontal .timeline__item.third .timeline__content:before {
  top: 118%;
  height: 150px;
  background: #84bf36;
}
.timeline--horizontal .timeline__item:after {
  background: #199d73;
}
.timeline--horizontal .timeline-divider {
  background: #199d73;
}
/* ROADMAP CSS END */

/* WHITEPAPER SECTION CSS */
.whitepaper-section {
  padding: 100px 0;
}
.whitepaper-section .container {
  padding: 60px;
  box-shadow: 5px 1px 5px 5px #efefef;
  border-radius: 30px;
  position: relative;
}
.whitepaper-section .whitepaper-title {
  color: #707070;
  font-size: 35px;
  position: relative;
}
.whitepaper-section .whitepaper-title::before {
  content: "";
  height: 5px;
  width: 150px;
  background-color: #84bf36;
  position: absolute;
  top: 50%;
  right: 120%;
  border-radius: 36px;
}
.whitepaper-section .whitepaper-title::after {
  content: "";
  height: 5px;
  width: 150px;
  background-color: #84bf36;
  position: absolute;
  top: 50%;
  left: 120%;
  border-radius: 36px;
}
.whitepaper-section .whitepaper-description {
  padding-top: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 120px;
  transition: all 1s ease;
  opacity: 0;
}
.whitepaper-section:hover .whitepaper-description {
  opacity: 1;
}
.whitepaper-section .whitepaper-description h2 {
  color: #707070;
  font-weight: bold;
  font-size: 25px;
}
.whitepaper-section .whitepaper-description p {
  color: #707070;
  font-size: 16px;
}
.whitepaper-section .whitepaper-img {
  max-width: 800px;
  position: absolute;
  left: -120%;
  top: 20%;
}
.whitepaper-section .btn-download {
  background-color: #84bf36;
  color: #fff;
  height: 50px;
  width: 25%;
  border-radius: 7px;
  cursor: pointer;
}
.whitepaper-section .btn-download svg {
  margin-left: 15px;
}
.whitepaper-section .btn-download:hover {
  transform: scale(1.2);
  background-color: #1c9272;
}
.whitepaper-section .balls-one {
  position: absolute;
  top: -3%;
  right: 0;
}
.whitepaper-section .balls-two {
  position: absolute;
  bottom: -3%;
  left: 0;
}
/* WHITEPAPER SECTION CSS END */

/* BENEFITS CSS */
.benefits {
  display: flex;
  flex-direction: column;
}
.benefits .carousel-indicators li {
  background-color: #fff;
  height: 10px;
  border-radius: 7px;
}
.benefits .carousel-indicators li.active {
  background-color: #84bf36;
}
.benefits .section-title h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding-top: 50px;
  padding-left: 50px;
}
.benefits .section-title h4::after {
  background: #fff;
  width: 300px;
  left: 50px;
}
.benefits .carousel-item p {
  display: flex;
  align-items: center;
  color: #fff;
  height: 40vh;
  font-size: 30px;
  padding-left: 80px;
}
.benefits .carousel-one {
  background-image: url("../img/carousel/bg-carousel-one.png");
  height: 700px;
  background-size: cover;
  background-position: center;
}
.benefits .carousel-two {
  background-image: url("../img/carousel/bg-carousel-two.png");
  height: 700px;
  background-size: cover;
  background-position: center;
}
.benefits .carousel-three {
  background-image: url("../img/carousel/bg-carousel-three.png");
  height: 700px;
  background-size: cover;
  background-position: center;
}
.benefits .carousel-four {
  background-image: url("../img/carousel/bg-carousel-four.png");
  height: 700px;
  background-size: cover;
  background-position: center;
}
.benefits .carousel-five {
  background-image: url("../img/carousel/bg-carousel-five.png");
  height: 700px;
  background-size: cover;
  background-position: center;
}
.benefits .img-carousel-one {
  position: relative;
  top: -20%;
  right: -10%;
}
/* BENEFITS CSS END */

/* PARTNER COMPANIES SECTION CSS */
.companies-section {
  padding: 100px 0;
  background-image: url(../img/partnerCompanies/bg-partners.png);
  background-size: cover;
  background-position: center;
}
.companies-section .container {
  background-color: #fff;
  box-shadow: 5px 1px 5px 5px #efefef;
  border-radius: 36px;
  padding: 50px 50px 80px 100px;
}
.companies-section .title {
  text-align: center;
  color: #84bf36;
  font-size: 35px;
  padding-bottom: 5px;
  position: relative;
}
.companies-section .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #84bf36;
  height: 5px;
  width: 310px;
  right: 35.6%;
}
.companies-section .p-header {
  color: #707070;
  font-size: 20px;
  margin-top: 20px;
}
.companies-section .p-description {
  color: #707070;
  font-size: 20px;
}
.companies-section .img-ceasa {
  position: absolute;
  z-index: 12;
  top: 50%;
  left: -10%;
}
.companies-section .img-tis {
  position: absolute;
  z-index: 12;
  top: 51%;
  left: 40%;
}
.companies-section .img-macbook {
  position: absolute;
  right: -43%;
  max-width: 1200px;
  width: 1200px;
  bottom: -10%;
}
.companies-section .xis-one {
  position: absolute;
  top: -15%;
  right: -15%;
}
.companies-section .xis-two {
  position: absolute;
  bottom: -25%;
  left: -15%;
}

/* PARTNER COMPANIES SECTION CSS END */

/* CONTACT CSS */
.contact-page {
  background: rgb(16, 196, 139);
  background: linear-gradient(
    0deg,
    rgba(16, 196, 139, 1) 0%,
    rgba(18, 129, 94, 1) 100%
  );
}
.contact-title .title-bar {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}
.contact-title .title-bar:after {
  background: #fff;
  width: 350px;
}
.contact-text p {
  color: #fff;
  margin-bottom: 5px;
  font-size: 20px;
}
.faq-form .btn-bg {
  background: #84bf36;
}
/* CONTACT CSS END */

/* FOOTER CSS */
.footer {
  background: #000;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-menu a {
  padding: 0 10px;
  transition: all 0.5s ease;
}
.footer-menu .icon:hover {
  transform: scale(1.2);
}
.footer-menu .icon-face:hover #Caminho_143,
.icon-insta:hover #Caminho_140,
.icon-yt:hover #Caminho_142 {
  fill: #fff;
}
.footer-menu .icon-face:hover #Caminho_130,
.icon-insta:hover #Caminho_131,
.icon-insta:hover #Caminho_132,
.icon-insta:hover #Caminho_133,
.icon-yt:hover #Caminho_135 {
  fill: #84bf36;
}
.footer .scroll-to-target {
  cursor: pointer;
}
/* FOOTER CSS END */

.scrolltop {
  display: none;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  cursor: pointer;
}
.scrolltop p {
  color: #fff;
}

/* MEDIA QUERYS */
@media (max-width: 1440px) {
  /* .hero-section.bg-img {
    padding: 50px 0;
  } */
  .hero-section .hero-mobile1 {
    bottom: -60%;
  }
  .mobile-app-section {
    padding: 100px 0;
  }
  .mobile-app-section .hero-mobile1 {
    top: -150px;
    right: 20%;
  }
  .mobile-app-section .hero-mobile2 {
    top: -50px;
    right: -20%;
  }
  .timeline__items {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #carouselHeaderHome {
    display: none;
  }
  .br-none {
    display: none;
  }
  .hero-section .row {
    height: 500px;
  }
  .hero-section .row .col-lg-6 {
    justify-content: start !important;
  }
  .hero-section.bg-img {
    background-image: url("../img/hero-section/bg-header-mobile.png");
    padding: 125px 0 100px;
  }
  .hero-section .hero-text {
    align-items: flex-start;
  }
  .about-us-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-us-area .row {
    box-shadow: none;
  }
  .about-us-area .row div {
    padding: unset;
  }
  .about-us-area .scroll {
    overflow-y: unset;
    max-height: unset;
  }
  .about-us-area .img-token {
    position: unset;
    width: 100%;
  }
  .about-us-area .img-stars {
    display: none;
  }
  .mobile-app-section {
    padding: 15px 0 50px;
  }
  .mobile-app-section .hero-mobile1 {
    top: 50px;
    width: 60%;
    left: 0;
  }
  .mobile-app-section .hero-mobile2 {
    top: 100px;
    width: 80%;
    right: 0;
  }
  .mobile-app-section .btn-play {
    left: 35%;
    top: 200px;
  }
  .mobile-app-content {
    text-align: left;
    margin-top: 50px;
    margin-right: 0;
  }
  .mobile-app-section .section-title h4::after {
    left: 0;
  }
  .mobile-btn {
    padding-top: 450px;
  }

  .timeline--mobile .timeline__item .timeline__content:after,
  .timeline--mobile .timeline__item .timeline__content:before {
    display: none;
  }

  .timeline__item.first:after {
    top: 60%;
  }
  .timeline__item.first .timeline__content h5,
  .timeline__item.first .timeline__content p {
    left: 0;
  }
  .timeline__item.first .timeline__content h5 {
    font-size: 16px;
    padding-left: 14px;
  }
  .timeline__item.first .timeline__content p {
    padding: 0;
    font-size: 12px;
    padding-right: 50px;
  }
  .roadmap-mobile-1 {
    position: absolute;
    left: -10%;
    top: 3%;
  }

  .timeline--mobile .timeline__item.second:after {
    top: 40%;
  }
  .timeline--mobile .timeline__item.second .timeline__content {
    left: 15%;
  }
  .timeline__item.second .timeline__content h5 {
    font-size: 16px;
    padding-left: 0;
    padding-top: 15px;
  }
  .timeline__item.second .timeline__content p {
    padding-left: 0;
    font-size: 12px;
    position: relative;
    left: -15px;
  }
  .roadmap-mobile-2 {
    position: absolute;
    top: -10%;
    left: -20%;
    width: 400px;
    max-width: 400px;
  }

  .timeline--mobile .timeline__item.third:after {
    left: 1px;
  }
  .timeline__item.third .timeline__content h5 {
    z-index: 12;
    padding-top: 10px;
    padding-left: 15px;
  }
  .timeline__item.third .timeline__content p {
    left: 0;
    z-index: 12;
  }
  .roadmap-mobile-3 {
    position: absolute;
    top: 0;
    left: -5%;
    z-index: 10;
    width: 350px;
    max-width: 350px;
  }

  .timeline__items {
    width: unset;
    display: block;
    justify-content: unset;
  }
  .timeline__item.first:after {
    width: 25px;
    height: 25px;
  }
  .benefits .col-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits .carousel-control-prev {
    left: 0;
  }
  .benefits .carousel-control-next {
    right: 0;
  }
  .footer .scroll-to-target {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .whitepaper-section .container {
    padding: 0 30px;
    box-shadow: none;
  }
  .whitepaper-section .whitepaper-title::before,
  .whitepaper-section .whitepaper-title::after {
    width: 50px;
  }
  .whitepaper-section .whitepaper-description {
    opacity: 1;
    padding-left: 0;
  }
  .whitepaper-section .whitepaper-img {
    position: relative;
    left: unset;
    top: unset;
    max-width: 100%;
  }
  .whitepaper-section .btn-download {
    width: 75%;
    margin-top: 50px;
  }
  .whitepaper-section .balls-one {
    top: -5%;
    right: 10px;
    width: 70px;
  }
  .whitepaper-section .balls-two {
    width: 70px;
    bottom: 5%;
    left: 5%;
  }
  .companies-section .container {
    padding: 0 30px;
    box-shadow: none;
    background-color: transparent;
  }
  .companies-section .title {
    text-align: left;
  }
  .companies-section .title::after {
    left: 0;
  }

  .companies-section .xis-one {
    top: -70%;
    right: 0;
    width: 70px;
  }
  .companies-section .xis-two {
    bottom: -10%;
    width: 70px;
    left: 0;
  }
  .contact-text {
    text-align: center;
    margin: 0;
  }
  .container-contact {
    padding: 0;
  }
}
