

@-webkit-keyframes rotated {
  0%   {-webkit-transform: rotate(0);transform: rotate(0);}
  50% {-webkit-transform: rotate(175deg);transform: rotate(175deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes rotated {
  0%   {-webkit-transform: rotate(0);transform: rotate(0);}
  50% {-webkit-transform: rotate(175deg);transform: rotate(175deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes testimonial-zoom-in-out {
  0%   {-webkit-transform: scale(0.3);transform: scale(0.3);}
  40%  {-webkit-transform: scale(0.6);transform: scale(0.6);}
  100% {-webkit-transform: scale(0.3);transform: scale(0.3);}
}
@keyframes testimonial-zoom-in-out {
  0%   {-webkit-transform: scale(0.3);transform: scale(0.3);}
  40%  {-webkit-transform: scale(0.6);transform: scale(0.6);}
  100% {-webkit-transform: scale(0.3);transform: scale(0.3);}
}

@keyframes cs-zoom-in-out {
  0%   {-webkit-transform: scale(0.3);transform: scale(0.3);}
  40%  {-webkit-transform: scale(1);transform: scale(1);}
  100% {-webkit-transform: scale(0.3);transform: scale(0.3);}
}

@-webkit-keyframes down-up-one {
    0% {-webkit-transform: rotateX(0deg) translateY(0px); transform: rotateX(0deg) translateY(0px)}
    50% {-webkit-transform: rotateX(0deg) translateY(18px);transform: rotateX(0deg) translateY(18px)}
    100% {-webkit-transform: rotateX(0deg) translateY(0px); transform: rotateX(0deg) translateY(0px)}

}

@-webkit-keyframes down-up-two {
    0% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
    50% {-webkit-transform: translate(0px, 18px);transform: translate(0px, 18px);}
    100% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}

}

@keyframes down-up-two {
    0% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
    50% {-webkit-transform: translate(0px, 18px);transform: translate(0px, 18px);}
    100% {-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}

}



@-webkit-keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate3d {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}







@-webkit-keyframes animationRoundTopBottom{
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(0px,150px)  rotate(90deg) ;
            transform:  translate(0px,150px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(150px,150px)  rotate(180deg) ;
            transform:  translate(150px,150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(150px,0px)  rotate(270deg) ;
            transform:  translate(150px,0px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}







@keyframes animationRoundTopBottom{
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(0px,150px)  rotate(90deg) ;
            transform:  translate(0px,150px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(150px,150px)  rotate(180deg) ;
            transform:  translate(150px,150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(150px,0px)  rotate(270deg) ;
            transform:  translate(150px,0px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
@-webkit-keyframes animationRoundTopBottomTwo{
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(150px,0px)  rotate(90deg) ;
            transform:  translate(150px,0px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(150px,150px)  rotate(180deg) ;
            transform:  translate(150px,150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(0px,150px)  rotate(270deg) ;
            transform:  translate(0px,150px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
@keyframes animationRoundTopBottomTwo{
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(150px,0px)  rotate(90deg) ;
            transform:  translate(150px,0px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(150px,150px)  rotate(180deg) ;
            transform:  translate(150px,150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(0px,150px)  rotate(270deg) ;
            transform:  translate(0px,150px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}



@keyframes group-border-infinite{
  100%{
    transform: translateY(-400px);
  }
}


/* =====animate.min.css overright ====*/
.customFadeInUp {
  -webkit-animation-name: customFadeInUp;
  animation-name: customFadeInUp;
}
@-webkit-keyframes customFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes customFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.customFadeInDown {
  -webkit-animation-name: customFadeInDown;
  animation-name: customFadeInDown;
}
@-webkit-keyframes customFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes customFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.customFadeInLeft {
  -webkit-animation-name: customFadeInLeft;
  animation-name: customFadeInLeft;
}
@-webkit-keyframes customFadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes customFadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.customFadeInRight {
  -webkit-animation-name: customFadeInRight;
  animation-name: customFadeInRight;
}
@-webkit-keyframes customFadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes customFadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shapeAnimationOne {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(0px,150px)  rotate(90deg) ;
            transform:  translate(0px,150px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(150px,150px)  rotate(180deg) ;
            transform:  translate(150px,150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(150px,0px)  rotate(270deg) ;
            transform:  translate(150px,0px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
@keyframes shapeAnimationTwo {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(-150px,-0px)  rotate(270deg) ;
            transform:  translate(-150px,-0px)  rotate(270deg) ;
  }
  50% {
    -webkit-transform:  translate(-150px,-150px)  rotate(180deg) ;
            transform:  translate(-150px,-150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(-0px,-150px)  rotate(90deg) ;
            transform:  translate(-0px,-150px)  rotate(90deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
@keyframes shapeAnimationThree {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(50px,150px)  rotate(90deg) ;
            transform:  translate(50px,150px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(150px,150px)  rotate(180deg) ;
            transform:  translate(150px,150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(150px,50px)  rotate(270deg) ;
            transform:  translate(150px,50px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
@keyframes shapeAnimationFour {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(-150px -50px)  rotate(90deg) ;
            transform:  translate(-150px -50px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(-150px,-150px)  rotate(180deg) ;
            transform:  translate(-150px,-150px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(-50px,-150px)  rotate(270deg) ;
            transform:  translate(-50px,-150px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}

@keyframes shapeAnimationFive {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
            transform:  translate(0px,0px)  rotate(0deg) ;
  }
  25% {
    -webkit-transform:  translate(-100px -100px)  rotate(90deg) ;
            transform:  translate(-100px -100px)  rotate(90deg) ;
  }
  50% {
    -webkit-transform:  translate(100px, 50px)  rotate(180deg) ;
            transform:  translate(100px, 50px)  rotate(180deg) ;
  }
  75% {
    -webkit-transform:  translate(-100px,150px)  rotate(270deg) ;
            transform:  translate(-100px,150px)  rotate(270deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(360deg) ;
            transform:  translate(0px,0px)  rotate(360deg) ;
  }
}


@keyframes animPulse {
    0%, 40%, 60%, 100%{
        transform: translate(0)
    }
    30% {
        transform: translate(20px,40px);
    }
    50% {
        transform: translate(40px,80px);
    }
    80% {
        transform: translate(80px,100px);
    }
}

@keyframes landingBubble {
    0%, 40%, 60%, 100%{
        transform: translate(0)
    }
    30% {
        transform: translate(10px,-40px);
    }
    50% {
        transform: translate(40px,-80px);
    }
    80% {
        transform: translate(80px,-100px);
    }

}



.delay-0-1s {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.delay-0-2s {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.delay-0-3s {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.delay-0-4s {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.delay-0-5s {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.delay-0-6s {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.delay-0-7s {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.delay-0-8s {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.delay-0-9s {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.delay-1-2s {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.delay-1-3s {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.delay-1-4s {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.delay-1-5s {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.delay-1-6s {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.delay-1-7s {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}