


/*** 
====================================================================
  Global Settings
====================================================================
 ***/


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #6A7596;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-style: normal;
    color: #191C3C;
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #191C3C;
    transition: 0.5s;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 20px;
}

h3 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

h4 {
    font-size: 25px;
    font-weight: 600;
    color: #98AAFD;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

a {
    color: #191C3C;
}

a:hover {
    color: inherit;
}
p{
    margin-bottom: 20px;
}

ul,
li {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}


/* global social media */
@media (min-width: 1260px) {
    .container {
        max-width: 1200px;
    }
}

.form-group input,
.form-group textarea {
    background: #FAFBFF;
    height: 45px;
    width: 100%;
    padding: 11px 20px;
    border-radius: 10px;
    font-size: 16px;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #6A7596;
}
.white-bg {
    background: #ffffff;
}

.gray-bg {
    background: #F6F8FA;
}


.border{
    border: 0.7px solid #E0E0F2;
    border-radius: 4px;
}
/*Social Icon one*/

.social-icon-one {
    position: relative;
}

.social-icon-one li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.social-icon-one li a {
    position: relative;
    width: 30px;
    height: 30px;
    color: #FE5D89;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #E0E0F2;
}

.social-icon-one li a:hover {
    color: #ffffff;
    background-color: #FE5D89;
    border: 2px solid #FE5D89;
}


/*Social Icon two*/

.social-icon-two {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    margin-left: -15px;
}

.social-icon-two li {
    display: inline-block;
}

.social-icon-two li a {
    font-size: 20px;
    width: 22px;
    height: 22px;
    margin: 0 18px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    background: transparent;
    color: #1D2063;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 700;
}

.social-icon-two li a:hover {
    color: #F82462;
}


/*========== Common Css ==========*/

.section-title {
    margin-bottom: 50px;
}

.section-title h4 {
    position: relative;
    padding-bottom: 10px;
    font-size: 16px;
}
.section-title h4:after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 97px;
    height: 3px;
    background: #98AAFD;
}

.section-title h4.left-bar:after {
    left: 0;
    transform: translate(0);
}


/*btn style*/

.btn-bg {
    background: #4DDBF9;
    color: #fff;
    transition: .5s;
    display: inline-block;
    z-index: 9;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 10px;
    min-width: 175px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-bg:hover {
    background: #4DDBF9;
    color: #fff;
    transform: translate(0, -3px);
}





.white-bg {
    background: #ffffff;
}

.gray-bg {
    background: #F6F8FA;
}

.gray-bg2 {
    background: #FBFBFC;
}

.gray-bg3 {
    background: #A7A7A7;
}

.dark-bg {
    background: #273751;
}
.red-bg {
    background: #FE5D89;
}
.theme-bg{
  background: #6563f7;
}
.white{ 
  color: #fff;
}

/*** 

====================================================================
  Global Settings
====================================================================

 ***/

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/preloader.svg);
    background-size: 80px;
}


/*** Scroll To Top style ***/

.scroll-top {
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 99;
  display: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #FE5D89;
  -webkit-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.dg-theme-bg{
    background: #FF8AAC;
}
.scroll-top span:before {
  font-size: 27px;
}
.scroll-top {
    background: #4DDBF9;
}

.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}





/*************************
  Basic margin padding
*************************/

/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-5 { margin-top: 5px }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-25 { margin-top: 25px }
.mt-27 { margin-top: 27px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-40 { margin-top: 40px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-75 { margin-top: 75px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-95 { margin-top: 95px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
.mt-200 { margin-top: 200px }
/*************************
      Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-5 { margin-right: 5px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
      Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-5 { margin-bottom: 5px }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-55 { margin-bottom: 55px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-75 { margin-bottom: 75px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
/*************************
        Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-5 { margin-left: 5px }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }


/*************************
        Padding
*************************/


/*************************
        Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-25 { padding-top: 25px }
.pt-30 { padding-top: 30px }
.pt-35 { padding-top: 35px }
.pt-40 { padding-top: 40px }
.pt-45 { padding-top: 45px }
.pt-50 { padding-top: 50px }
.pt-55 { padding-top: 55px }
.pt-60 { padding-top: 60px }
.pt-65 { padding-top: 65px }
.pt-70 { padding-top: 70px }
.pt-75 { padding-top: 75px }
.pt-80 { padding-top: 80px }
.pt-87 { padding-top: 87px }
.pt-90 { padding-top: 90px }
.pt-95 { padding-top: 95px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-112 { padding-top: 112px }
.pt-120 { padding-top: 120px }
.pt-125 { padding-top: 125px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-145 { padding-top: 145px }
.pt-150 { padding-top: 150px }
.pt-180 { padding-top: 180px }
.pt-200 { padding-top: 200px }
.pt-240 { padding-top: 240px }
.pt-245 { padding-top: 245px }
.pt-250 { padding-top: 250px }
.pt-275 { padding-top: 275px }
/*************************
        Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-5 { padding-right: 5px }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px !important }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px !important}
.pr-50 { padding-right: 50px !important }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
        Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-5 { padding-bottom: 5px }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-25 { padding-bottom: 25px }
.pb-30 { padding-bottom: 30px }
.pb-35 { padding-bottom: 35px }
.pb-40 { padding-bottom: 40px }
.pb-45 { padding-bottom: 45px }
.pb-50 { padding-bottom: 50px }
.pb-55 { padding-bottom: 55px }
.pb-60 { padding-bottom: 60px }
.pb-65 { padding-bottom: 65px }
.pb-70 { padding-bottom: 70px }
.pb-75 { padding-bottom: 75px }
.pb-80 { padding-bottom: 80px }
.pb-85 { padding-bottom: 85px }
.pb-90 { padding-bottom: 90px }
.pb-95 { padding-bottom: 95px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-115 { padding-bottom: 115px }
.pb-120 { padding-bottom: 120px }
.pb-125 { padding-bottom: 125px }
.pb-130 { padding-bottom: 130px }
.pb-135 { padding-bottom: 135px }
.pb-140 { padding-bottom: 140px }
.pb-145 { padding-bottom: 145px }
.pb-150 { padding-bottom: 150px }
.pb-170 { padding-bottom: 170px }
.pb-175 { padding-bottom: 175px }
.pb-195 { padding-bottom: 195px }
.pb-200 { padding-bottom: 200px }
.pb-245 { padding-bottom: 245px }
.pb-250 { padding-bottom: 250px }
.pb-275 { padding-bottom: 275px }
/*************************
        Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-5 { padding-left: 5px }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }

/***************************
    Page section padding 
****************************/
.ptb-0 { padding: 0 }
.ptb-5 { padding: 5px 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-75 { padding: 75px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-85 { padding: 85px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-95 { padding: 95px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }
.ptb-200 { padding: 200px 0 }



@media (max-width: 992.98px) {


    /* Padding Top*/
    .rpt-0 {
        padding-top: 0px;
    }
    .rpt-10 {
        padding-top: 10px;
    }
    .rpt-30 {
        padding-top: 30px;
    }
    .rpt-40 {
        padding-top: 40px;
    }
    .rpt-45 {
        padding-top: 45px;
    }
    .rpt-50 {
        padding-top: 50px;
    }
    .rpt-60 {
        padding-top: 60px;
    }
    .rpt-70 {
        padding-top: 70px;
    }
    .rpt-75 {
        padding-top: 75px;
    }
    .rpt-90 {
        padding-top: 90px;
    }
    .rpt-100 {
        padding-top: 100px;
    }
    .rpt-120 {
        padding-top: 120px;
    }
    .rpt-150 {
        padding-top: 150px;
    }
    
    /* Padding Bottom*/
    .rpb-0 {
        padding-bottom: 0;
    }
    .rpb-10 {
        padding-bottom: 10px;
    }
    .rpb-20 {
        padding-bottom: 20px;
    }
    .rpb-30 {
        padding-bottom: 30px;
    }
    .rpb-45 {
        padding-bottom: 45px;
    }
    .rpb-50 {
        padding-bottom: 50px;
    }
    .rpb-55 {
        padding-bottom: 55px;
    }
    .rpb-60 {
        padding-bottom: 60px;
    }
    .rpb-70 {
        padding-bottom: 70px;
    }
    .rpb-80 {
        padding-bottom: 80px;
    }
    .rpb-90 {
        padding-bottom: 90px;
    }
    .rpb-100 {
        padding-bottom: 100px;
    }
    

}

