/****************************************************** */
/******************  Main Header style **************** */
/****************************************************** */
.main-header {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    padding: 55px 65px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fixed-header {
    padding: 15px 65px;
    background: #2A43AA;
}

.main-header .header-upper {
    position: relative;
    z-index: 5;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}


.main-header .logo {
    position: relative;
    z-index: 9;
}

/** Header Main Menu */

.main-menu .navbar-collapse {
    padding: 0px;
}

.main-menu .navigation li {
    float: left;
    padding: 15px 29px;
}

.main-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    display: none;
}

.main-menu .navigation li a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: 500;
    opacity: 1;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}


.main-menu .navigation > li a:hover,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a {
    color: #4DDBF9;
}
/* 
.main-menu .navigation li li a:hover,
.main-menu .navigation li li.current a,
.main-menu .navigation li li.current-menu-item a {
    color: #4DDBF9;
}
 */
.main-menu .navigation > li:hover > a:after,
.main-menu .navigation > li.current > a:after,
.main-menu .navigation > li.current-menu-item > a:after {
    width: 20px;
}

.main-menu .navigation li .megamenu {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    padding: 20px 0;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation li .megamenu:after {
    display: block;
    clear: both;
    content: "";
}

.main-menu .navigation li .megamenu ul {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-menu .navigation li ul {
    position: absolute;
    left: inherit;
    top: 100%;
    min-width: 204px;
    padding: 10px 0;
    z-index: 100;
    display: none;
    border-radius: 5px;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation li ul li {
    width: 100%;
    padding: 10px 10px;
    padding-left: 32px;
}

.main-menu .navigation li ul li:last-child {
    border-bottom: none;
}

.main-menu .navigation li ul li a {
    line-height: 24px;
    color: #191C3C;
    font-weight: 500;
    text-transform: capitalize;
}

.main-menu .navigation li ul li ul {
    left: 100%;
    top: 0%;
}

.main-menu .navbar-header {
    display: none;
}

.main-menu .navbar-header .navbar-toggle {
    float: right;
    padding: 4px 0;
    cursor: pointer;
    background: transparent;
}

.main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
    height: 2px;
    width: 30px;
    display: block;
    margin: 7px 5px;
}

.menu-btn .btn-bg {
    margin-left: 50px;
}
.menu-btn .btn-bg:hover {
    transform: none;
}


@media only screen and (max-width: 1400px) {
    .main-menu .navigation li {
        padding: 15px 20px;
    }
}


@media only screen and (max-width: 1199px) {
    .main-menu .navigation li {
        padding: 20px 15px;
    }
}


/* Mobile Menu */

@media only screen and (max-width: 991px) {
    .main-header {
        padding: 15px 50px;
    }
    .main-header .header-upper .container-fluid {
        padding: 0;
    }
    .main-header .logo-outer {
        position: absolute;
    }
    .main-menu {
        width: 100%;
    }
    .main-header .logo img {
        width: 90%;
    }
    .main-menu .navbar-header {
        display: block;
    }
    .main-menu .navigation {
        overflow: auto;
        max-height: 360px;
        margin: 20px 0 0px;
        background: #fff;
    }
    .main-menu .navigation li {
        float: none;
        padding: 0 20px;
        border-top: 1px solid #f3f3f3;
    }
    .main-menu .navigation li:last-child {
        border-bottom: 1px solid #f3f3f3;
    }
    .main-menu .navigation li.dropdown .dropdown-btn {
        display: block;
        color: #191C3C;
    }
    .main-menu .navigation li a {
        padding: 10px 10px;
        color: #191C3C;
    }
    .main-menu .navigation li a:after {
        display: none;
    }
     .main-menu .navigation li .megamenu {
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }
    .main-menu .navigation li .megamenu .container {
        max-width: 100%;
    }
    .main-menu .navigation li .megamenu .row {
        margin: 0px;
    }
    .main-menu .navigation li ul {
        position: relative;
        display: none;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
    }
    .main-menu .navigation li ul:after {
        display: block;
        clear: both;
        content: "";
    }
    .main-menu .navigation li ul li {
        padding: 0 30px;
        border-bottom: 0;
    }
    .main-menu .navigation li ul li a {
        padding: 10px 10px;
        line-height: 22px;
        color: #191C3C;
    }
    .main-menu .navigation li ul li ul {
        left: auto;
    }

}

@media only screen and (max-width: 767px) {
    
    
}
@media only screen and (max-width: 1199px) {
    .menu-btn {
        display: none;
    }
    
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .main-header {
        padding: 15px 15px;
    }
    .main-header .container {
        padding: 15px 0px;
    }
    .main-header .logo-outer {
        left: 15px;
    }
    .main-menu .navbar-header {
        margin-right: 15px;
    } 

}