


/* // Large devices */
@media only screen and (max-width: 1500px) {
	.hero-section {
	    padding: 125px 0 200px;
	}
	
	.hero-image-wrap {
	    top: 45%;
	}
	.about-image {
	    margin-left: -80px;
	}
	/* road map */
	.timeline--horizontal .timeline__item.first {
	    width: 18% !important;
	}
	.timeline--horizontal .timeline__item.second {
	    width: 14% !important;
	    margin-left: -108px;
	}
	.timeline--horizontal .timeline__item.third {
	    width: 16.5% !important;
	    margin-left: -20px;
	}
	.timeline--horizontal .timeline__item.forth {
	    width: 18% !important;
	    margin-left: -142px;
	}
	.timeline--horizontal .timeline__item.fifth {
	    width: 19.8% !important;
	    margin-left: -40px;
	}
	.timeline--horizontal .timeline__item.sixth {
	    width: 16% !important;
	    margin-left: -168px;
	}
	.timeline--horizontal .timeline__item.seven {
	    width: 21% !important;
	    margin-left: 20px;
	}
	.timeline--horizontal .timeline__item.eight {
	    width: 19.09% !important;
	    margin-left: -240px;
	}
	/* banner */
	.banner-section {
	    height: 450px;
	}
}

/* // Large devices */
@media only screen and (max-width: 1200px) {
	h4 {
	    font-size: 18px;
	}
	.hero-text {
	    padding: 115px 0 150px;
	}

	/* about */
	.about-image {
	    margin-left: -70px;
	}

	.timeline__items {
	    transform: translate3d(30px, 0px, 0px) !important;
	}
	.timeline--horizontal .timeline__item.first {
	    padding-bottom: 210px;
	}
	.timeline--horizontal .timeline__item.second {
	    margin-left: -108px;
	}
	.timeline--horizontal .timeline__item.third {
	    margin-left: 30px;
	}
	.timeline--horizontal .timeline__item.forth {
	    margin-left: -123px;
	}
	.timeline--horizontal .timeline__item.fifth {
	    margin-left: 8px;
	}
	.timeline--horizontal .timeline__item.sixth {
	    margin-left: -135px;
	}
	.timeline--horizontal .timeline__item.seven {
	    margin-left: 40px;
	}
	.timeline--horizontal .timeline__item.eight {
	    margin-left: -175px;
	}
	.timeline__content {
	    padding: 30px 20px 20px;
	}
	.timeline__content p {
	    font-size: 14px;
	}
}



@media (max-width: 991px){
	.sidebar.ml-50{
		margin-left: 0px;
	}
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
	h2 {
	    font-size: 40px;
	}
	h3 {
	    font-size: 35px;
	}
	.main-header .logo {
	    margin-top: 5px;
	}
	.fixed-header .logo {
	    margin-top: 5px;
	}
	.fixed-header .logo img {
	    width: 90%;
	}
	.hero-section {
	    height: auto;
	    padding: 125px 0 165px;
	    background-position: bottom right;
	}
	.hero-text {
	    position: relative;
	    padding: 70px 0 70px;
	}


/* about-us */

	.about-us-area {
	    margin-top: 0;
	    padding-bottom: 0px;
	}
	.about-image {
	    margin-left: -53px;
	}
	.share-btn-wrap a {
	    margin-right: 6px;
	    width: 130px;
	}
	.bitcoin-mobile {
	    margin-right: -52px;
	}
	.accordion-section {
	    background-image: none !important;
	}

/* road map */
	.timeline__items {
	    transform: translate3d(0px, 0px, 0px) !important;
	}
	.road-map-section {
	    padding: 60px 0 60px;
	}
	.contact-title h3 {
	    font-size: 30px;
	}
/* footer */
	.footer {
	    margin-top: 0;
	    padding-top: 100px;
	}
	.contact-item {
	    margin-bottom: 0;
	    padding: 0 15px;
	}

	.banner-section {
	    height: 300px;
	}
	.banner-inner {
	    padding-top: 60px;
	}

	/* sidebar */
	.sidebar {
	    margin-top: 60px;
	}
	/* contact */
	.contact-site {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	.benefits .carousel-one,
	.benefits .carousel-two,
	.benefits .carousel-three,
	.benefits .carousel-four,
	.benefits .carousel-five {
		min-height: 80vh;
		height: 100% !important;
	}
	.benefits .carousel-one .container,
	.benefits .carousel-two .container,
	.benefits .carousel-three .container,
	.benefits .carousel-four .container,
	.benefits .carousel-five .container {
		flex-direction: column;
	}
	.benefits .section-title h4 {
		padding-left: 15px !important;
	}
	.benefits .section-title h4::after {
		left: 15px !important;
	}
	.benefits .carousel-item p {
		height: 100% !important;
		padding-left: 0 !important;
		font-size: 16px !important;
		justify-content: center;
	}
	.benefits .img-carousel-one {
		left: 0;
		right: 0 !important;
		margin-top: 30px;
		width: 150px;
	}

}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	h1{
		font-size: 45px;
	}
	.section-title {
	    margin-bottom: 40px;
	}
/* hero section */

	.hero-section {
	    padding: 125px 0 125px;
	}
	.hero-section.bg-img {
	    background-position: right;
	}
	.hero-text {
	    padding: 60px 0 70px;
	}/* 
	.hero-text p {
	    background: #223A9E;
	} */
	/* about us */
	.about-content {
    	margin-left: 0;
	}
	.about-image {
	    margin-left: -70px;
	    margin-right: -70px;
	}
	.adbance-mobile {
	    margin-top: 50px;
	}
	.token-btn-wrap {
	    margin-top: 30px;
	}
	.bitcoin-mobile {
	    margin: 0;
	}
	/* road map */
	.road-map-section {
	    padding: 50px 0 50px;
	}

	/* accordion */
	.accordion-section {
	    background: none !important;
	}
	.get-in-touch-section {
	    padding-top: 50px;
	}
	.contact-item {
	    padding: 15px 15px;
	}

	.footer-menu a {
	    padding: 15px;
	}
	.footer-share-icon a {
	    margin: 10px;
	}
	.easy-to-access-content .section-title {
	    margin-bottom: -30px;
	}


}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
	.container {
	    padding-left: 30px;
	    padding-right: 30px;
	}

/* footer */
	
	.footer {
	    text-align: center;
	    padding-top: 75px;
	}

	.footer-social-icon {
	    margin-bottom: 35px;
	}
	.footer-bottom {
	    padding-bottom: 75px;
	}

}

@media (max-width: 500px) {

	.hero-text {
	    padding: 30px 15px 70px;
	}
/* 	about */
	.about-image {
	    margin-left: -64px;
	    margin-right: -64px;
	}

	.comment-item {
	    display: inline-block;
	}
	.comment-author-img {
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.comment-reply {
	    margin-left: 45px;
	}

}
@media (max-width: 400px) {
	h3 {
	    font-size: 30px;
		}
	.about-image {
	    margin: 0 -32px;
	}

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {


}






