/********************************************************** */
/********************  Cryptozom ************************* */
/**********************************************************

    TABLE OF CONTENT
    ========================

    Hero Section
    About Us
    mobile app
    road map
    Faq/accordion
    contact
    Footer Area
    banner
    benifit page
    news section
    pazination
    sidebar
    blog details
    comment
    faq-form


/********************************************************* */

.left-background-shape {
    background-repeat: no-repeat;
    background-position: 0 0;
}
.right-background-shape {
    background-repeat: no-repeat;
    background-position: 100% 0;
}
/*** 
====================================================================
    Hero area start
====================================================================
 ***/

.hero-section {
    position: relative;
    padding: 125px 0 300px;
}

.hero-section.bg-img {
    background-position: 0 0;
    background-size: cover;
}

.hero-text {
    position: relative;
    z-index: 99;
    padding: 165px 0 195px;
}

.hero-text h1 {
    padding-bottom: 20px;
    color: #fff;
}

.hero-text p {
    margin-bottom: 35px;
    color: #fff;
}

.hero-image-wrap {
    position: absolute;
    right: 0;
    width: 45%;
    top: 40%;
    height: 50%;
    transform: translateY(-50%);
}
.hero-mobile1 {
    position: absolute;
    animation-duration: 2s;
    left: 2%;
    top: 0px;
    z-index: 9;
    width: 50%;
}
.hero-mobile2 {
    position: absolute;
    animation-duration: 2s;
    animation-delay: 0.7s;
    left: 24%;
    top: 25px;
    z-index: 1;
    width: 50%;
}


/*** 
====================================================================
    Hero area End
====================================================================
 ***/


/*** 
====================================================================
  start About Us section 
====================================================================
***/

.about-us-area {
    position: relative;
    background-repeat: no-repeat;
    margin-top: -70px;
}
.about-image {
}
.about-content {
    margin-left: 45px;
}

.about-content .section-title {
    margin-bottom: 35px;
}

.vedio-button {
    color: #425ECE;
    display: flex;
    align-items: center;
}
.vedio-button .icon {
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
    border-radius: 50%;
    background: #425ECE;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding-left: 4px;
    float: left;
    margin-right: 15px;
    vertical-align: middle;
}
.vedio-button .btn-text {
    font-weight: 600;
}
.vedio-button span {
    display: inline-block;
    position: relative;
    color: #191C3C;
    font-weight: 500;
}

/*** 
====================================================================
    end About Us section 
====================================================================
***/

/*** 
====================================================================
  start mobile app section 
====================================================================
***/
.mobile-app-section{
  position: relative;
  background-repeat: no-repeat;
}
.mobile-app-content {
    margin-right: 40px;
}

.share-btn-wrap a {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 30px;
}

.bitcoin-mobile {
    margin-right: -70px;
    margin-left: -60px;
}
/*** 
====================================================================
    end mobile app section 
====================================================================
***/

/*** 
====================================================================
    start our gole section 
====================================================================
***/

.easy-mobile {
}
.easy-to-access-content {

}

/*** 
====================================================================
    end our gole section 
====================================================================
***/



/*** 
====================================================================
    start road map section
====================================================================
***/
@media (min-width: 1400px) {
    .road-map-section .container {
      max-width: 1370px;
  }
}

.road-map-section {
    background-position: top right;
    background-repeat: no-repeat;
    padding: 100px 0 100px;
}
.road-map-section .section-title {
    margin-bottom: 40px;
}

.timeline--horizontal {
    overflow: visible;
    padding: 0;
    margin-top: 20px;
}

.timeline__wrap {
    overflow: visible;
}

.timeline__items {
    transform: translate3d(50px, 0px, 0px) !important;
}

.timeline--horizontal .timeline-divider {
    background-color: #2A43AA;
    height: 2px;
    width: 200%;
    left: -60%;
}
.timeline:not(.timeline--horizontal):before {
    background-color: #2A43AA;
}

.timeline--mobile .timeline__item {
    left: -2px;
}
.timeline__item:after {
    background: #2A43AA;
    border: 4px solid #fff;
    height: 25px;
    width: 25px;
    box-shadow: 0 0 50px rgba(146, 158, 178, 0.4);
}

.timeline__item.fifth:after {
    background: #4DDBF9;
    height: 40px;
    width: 40px;
    box-shadow: 0 6px 50px rgba(146, 158, 178, 0.4);
}

/* border er upporer gula */
.timeline--horizontal .timeline__item .timeline__content:before {
    width: 2px;
    height: 152px;
    background: #4DDBF9;
    border: 0;
    top: 100%;
}
.timeline--horizontal .timeline__item.first .timeline__content:before {
    height: 152px;
    top: 128%;
}
.timeline--horizontal .timeline__item.third .timeline__content:before {
    height: 82px;
    top: 131%;
}
.timeline--horizontal .timeline__item.fifth .timeline__content:before {
    height: 136px;
    top: 124%;
}
.timeline--horizontal .timeline__item.seven .timeline__content:before {
    height: 50px;
    top: 120%;
}


.timeline--horizontal .timeline__item:nth-child(even) .timeline__content:before {
    height: 100px;
    background: #4DDBF9;
    border: 0;
    bottom: 117%;
}
.timeline--horizontal .timeline__item.second .timeline__content:before {
    height: 158px;
}
.timeline--horizontal .timeline__item.forth .timeline__content:before {
    height: 76px;
}
.timeline--horizontal .timeline__item.sixth .timeline__content:before {
    height: 138px;
}
.timeline--horizontal .timeline__item.eight .timeline__content:before {
    height: 68px;
}

.timeline--horizontal .timeline__item .timeline__content:after {
    width: 16px;
    height: 16px;
    border: 0;
    background: #4DDBF9;
    border-radius: 50%;
    top: 119%;
}
.timeline--horizontal .timeline__item:nth-child(even) .timeline__content:after {
    width: 16px;
    height: 16px;
    border: 0;
    background: #4DDBF9;
    border-radius: 50%;
    bottom: auto;
    top: -28px;
}
.timeline__items {
    width: 100%;
}

.timeline--horizontal .timeline__item {
    padding-bottom: 170px;
}

.timeline--horizontal .timeline__item.first {
    width: 242px !important;
    padding-bottom: 210px;
}
.timeline--horizontal .timeline__item.second {
    width: 200px !important;
    margin-left: -108px;
    padding-top: 196px;
}
.timeline--horizontal .timeline__item.third {
    width: 200px !important;
    margin-left: -30px;
    padding-bottom: 137px;
}
.timeline--horizontal .timeline__item.forth {
    width: 224px !important;
    margin-left: -102px;
    padding-top: 115px;
}
.timeline--horizontal .timeline__item.fifth {
    width: 306px !important;
    margin-left: -65px;
    padding-bottom: 202px;
}
.timeline--horizontal .timeline__item.sixth {
    width: 153px !important;
    margin-left: -173px;
    padding-top: 173px;
}
.timeline--horizontal .timeline__item.seven {
    width: 309px !important;
    margin-left: 80px;
    padding-bottom: 122px;
}
.timeline--horizontal .timeline__item.eight {
    width: 267px !important;
    margin-left: -320px;
    padding-top: 106px;
}


.timeline__content {
  border: 0;
  padding: 30px 30px 20px;
    color: #6A7596;
    transition: 0.4s;
}
.timeline__item.forth .timeline__content {
    background: #2A43AA;
    color: #fff;
}
.timeline__item.forth .timeline__content h5 {
    color: #fff;
}

.timeline__content h5 {
    margin-bottom: 13px;
}
.timeline__content p {
  font-size: 16px;
}
/*** 
====================================================================
    end road map section
====================================================================
***/

/*** 
====================================================================
    start skills accordion section
====================================================================
***/
.accordion-section {
    background-repeat: no-repeat;
    background-position: -150px 0;
}
.general-btn-wrap .general {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    background: #2A43AA;
    display: inline-block;
    padding: 21px 34px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px rgba(146, 158, 178, 0.15);
}
.token-btn-wrap .token {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    background: rgba(77, 219, 249, 1);
    display: inline-block;
    padding: 21px 34px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 15px rgba(146, 158, 178, 0.15);
}
.accordion-box .accordion{
  margin-bottom:7px;
  position:relative;/* 
    box-shadow: 0px 14px 60px rgba(199, 199, 225, 0.41); */
}

.accordion-box .accordion .accord-btn {
    padding: 24px 50px 23px 34px;
    cursor: pointer;
    background: #fff; 
    box-shadow: 0px 14px 60px rgba(199, 199, 225, 0.41); 
    border-radius: 5px;
    z-index: 9;
}
.accordion-box .accordion .accord-btn.active{
      color:#ffffff;
      box-shadow: none;
    position: relative;
    z-index: 99;
  }
.accordion-box .accordion .accord-btn:hover {
    box-shadow: none;
    position: relative;
    z-index: 99;
}

   .accordion-box .accordion .accord-btn.active h4 {
      color: #262EC1;
  }

  .accordion-box .accordion .accord-btn:after{
      content:'\f078';
      font-family: 'FontAwesome';
      position:absolute;
      right:10px;
      top: 15px;
      width:30px;
      height:30px;
      color: #98AAFD;
      line-height:30px;
      font-size: 16px;
      font-weight:normal;
  }
  .accordion-box.right .accordion .accord-btn:after{
      color: #4DDBF9;
  }


  .accordion-box .accordion .accord-btn.active:after{
      content:'\f077';
  }

  .accordion-box .accordion .accord-content {
      padding: 4px 34px 40px;
      position: relative;
      display: none;
      background: #fff;
      box-shadow: 0px 14px 60px rgba(199, 199, 225, 0.41); 
  }
  .accordion-box .accordion .accord-content p{
    margin-bottom: 0;
  }

  .accordion-box .accordion .accord-content.collapsed{
      display:block;
      
  }
  .accord-content.collapsed p {
      margin-bottom: 0;
  }


/*** 
====================================================================
    end skills accordion section
====================================================================
***/


/* ----get-in-touch-section ----=*/

.contact-title h3 {
    color: #191C3C;
    font-size: 34px;
    font-weight: 500;
}

.contact-item {
    display: block;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: .5s;
    padding: 34px 15px;
}
.service-icon a {
    width: 62px;
    height: 62px;
    display: inline-block;
    line-height: 62px;
    font-size: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: #4DDBF9;
    color: #fff;
}
.service-icon a i.flaticon-twitter {
    margin-top: 4px;
    display: inline-block;
}



/*** ====================================================================
  Start Footer Section
====================================================================***/
.footer {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -125px;
    padding-top: 280px;
}

.footer-menu {
    margin: 30px;
}
.footer-menu li {
    display:inline-block;
}
.footer-menu a {
    padding: 25px;
    font-weight: 500;
    color: #fff;
    display: block;
}
.footer-share-icon{
}
.footer-share-icon li {
    display:inline-block;
}
.footer-share-icon a {
    color: #4DDBF9;
    background: #fff;
    border-radius: 50%;
    display: block;
    width: 62px;
    height: 62px;
    line-height: 62px;
    font-size: 28px;
    margin: 40px;
}

/* copyright css */
.footer-bottom {
    text-align: center;
    position: relative;
}

.copyright {
    color: #fff;

}

/*** ====================================================================
  End Footer Section
====================================================================***/



/*** ====================================================================
            Start banner  Section
====================================================================***/


.banner-section {
    height: 400px;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner-inner {
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.page-title {
    color: #FFFFFF;
}

.breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 0;
}

.banner-inner nav {
    display: inline-block;
}

.breadcrumb-item a {
    color: #FFFFFF;
}

.breadcrumb-item a:hover {
    color: #00BA74;
}

.breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.45);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #FFFFFF;
    content: "/";
}



/*** ====================================================================
            End banner  Section
====================================================================***/


/*** ====================================================================
            Start benifit  page
====================================================================***/

.single-box {
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    background: #fff;
    transition: 0.4s;
    box-shadow: 0px 0px 50px rgba(146, 158, 178, 0.15);
}
.single-box:hover {
    box-shadow: 0px 14px 60px rgba(199, 199, 225, 0.41);
}
.single-box i {
    font-size: 60px;
    margin-bottom: 20px;
}
.single-box h4 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #191C3C;
}
/* 
.single-box-one {
    background: #F7FDF7;
} */
.single-box-one i {
    color: #4F17EF;
}/* 
.single-box-two {
    background: #FBF7FF;
} */
.single-box-two i {
    color: #38B7FA;
}/* 
.single-box-three {
    background: #F0FBF4;
} */
.single-box-three i {
    color: #EE798E;
}

/*** ====================================================================
            End benifit  page
====================================================================***/







/*** ====================================================================
   Start news section
====================================================================***/


.single-news-block {
    background: #FAFBFF;
    box-shadow: 0px 14px 60px #929EB229;
    border-radius: 10px;
    transition: 0.4s;
}
.single-news-block:hover {
    background: #fff;
}
.single-news-block .blog-thumb {
    position: relative;
}
.single-news-block .blog-thumb img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.single-news-block .news-inner {
    padding: 25px 15px 1px 25px;
}
.single-news-block .news-inner h4 {
    font-size: 24px;
    font-weight: 500;
}
.single-news-block .post-date {
    color: #98AAFD;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
}



/*===============pazination style=============*/
.properties-pazination li {
    display: inline-block;
    margin-right: 12px;
}

.properties-pazination li a {
    color: #191C3C;
    display: block;
    font-weight: 500;
    font-size: 24px;
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    background: #FAFBFF;
}

.properties-pazination li.active a,
.properties-pazination a:hover {
    color: #fff;
    background: #4DDBF9;
}


/*** ====================================================================
  end  news section
====================================================================***/

/* title-bar */
.title-bar {
    padding-bottom: 15px;
    font-size: 24px;
    color: #191C3C;
    font-weight: 500;
    position: relative;
}
.title-bar:after {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 95px;
    height: 2px;
    background: #98AAFD;
    content: "";
    z-index: 1;
    border-radius: 51px;
}

/*** ====================================================================
    start sidebar
====================================================================***/


/*Sidebar*/
.widget {
    margin-bottom: 50px;
}

.widget:last-child {
    margin-bottom: 0;
}

/*search widget*/
.search-widget {
    position: relative;
}

.search-widget input {
    background: #FAFBFF;
    width: 100%;
    padding: 11px 20px;
    color: #6A7596;
    border-radius: 10px;
}
.search-widget input::placeholder {
    color: #B4B3C5;
}
.search-widget button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 18px;
    width: 60px;
    color: #6A7596;
    cursor: pointer;
    background: transparent;
    border-radius: 0 5px 5px 0;
}

/*post widget*/
.post-widget .post-title .date {
    margin-bottom: 3px;
    color: #EC398B;
}

.post-widget .post-item {
    margin-bottom: 25px;
}


.post-widget .post-item:last-child {
    margin-bottom: 0;
}

.post-widget .post-img img {
    width: 86px;
    height: 86px;
    border-radius: 5px;
}
.post-widget .post-title h5 {
    font-size: 18px;
    font-weight: 500;
    display: flex;
}
.post-widget .post-title h5 a {
    color: #6A7596;
    margin-left: 10px;
}

.post-widget .post-title h5 i {
    margin-top: 4px;
    color: #2A43AA;
}
.post-widget .post-title h5:hover i,
.post-widget .post-title h5:hover a {
    color: #98AAFD;
}

/*Categories widget*/
.category-widget li {
    display: flex;
    transition: 0.5s;
}

.category-widget li:hover {
    color: #98AAFD;
}
.category-widget li i {
    margin-top: 9px;
    color: #2A43AA;
}
.category-widget li a {
    color: #6A7596;
    margin-bottom: 5px;
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.category-widget li span {
    margin-left: auto;
}

.category-widget a:hover {
    color: #98AAFD;
}

/*Tags widget*/
.tag-widget a {
    color: #fff;
    font-size: 18px;
    padding: 5px 15px;
    margin: 0 10px 15px 0;
    display: inline-block;
    border: 1px solid;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 30px;
    background: #2a43aa;
}
.tag-widget a:hover {
    color: #4ddbf9;
}


/*** ====================================================================
    end sidebar
====================================================================***/



/*** ========================================================================================================
  start blog details Page
==========================================================================================================***/
.single-post-title {
    margin-bottom: 50px;
}
.blog-details-img img {
    border-radius: 10px;
}

/*--start post-admin--*/
.blog-details .post-admin {
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 14px;
}
.single-blog-post-date {
    float: left;
    margin-right: 15px;
    color: #98AAFD;
}
.single-blog-post-date a {
    margin-bottom: 15px;
    display: inline-block;
}
.blog-details .admin-by .by {
    color: #6A7596;
}
.blog-details .admin-by a {
    color: #191C3C;
    font-weight: 500;
}
/*--end post-admin--*/


/*--blog-details-content--*/
.blog-details-content {
    margin-bottom: 40px;
}
.blog-details-img {
    margin-bottom: 20px;
}

.blog-header {
    margin-bottom: 25px;
}

.blog-header ul li {
    display: inline-block;
}

.blog-header ul li:after {
    content: '';
    height: 4px;
    width: 4px;
    background: #2D3954;
    display: inline-block;
    margin: 0 15px 3px 15px;
}

.blog-header ul li:last-child:after {
    display: none;
}

.blog-details-content blockquote {
    color: #6A7596;
    padding: 15px 25px;
    margin: 25px 0;
    font-weight: 500;
    align-items: center;
    background: #FAFBFF;
    border-radius: 3px;
    font-style: italic;
    position: relative;
}
.blog-details-content blockquote:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    content: "";
    background: #98AAFD;
    z-index: 1;
    border-radius: 51px;
}

/* post tag */
.post-tag {
    margin-bottom: 40px;
}
.post-tag .tag-title {
    color: #191C3C;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}
.post-tag .tag-item a {
    border: 1px solid #6A7596;
    border-radius: 21px;
    padding: 0px 21px;
    margin: 7px;
    display: inline-block;
}
/* related post */





/* .comment-item */

.comment-item {
    display: flex;
    margin-bottom: 40px;
}
.commenter-name h6 {
    font-size: 16px;
}
.commenter-name span {
    color: #98AAFD;
    font-size: 14px;
}

.comment-item .reply {
    border: 1px solid #6A7596;
    border-radius: 21px;
    padding: 0px 21px;
    display: inline-block;
}
.comment-reply {
    margin-left: 75px;
}

.comment-author-img {
    flex: none;
    margin-right: 30px;
}

.comment-author-img img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/*post-comments-form*/

.comment-form .form-group {
    margin-bottom: 30px;
}
.comment-form textarea {
    min-height: 135px;
}
.comment-form .btn-bg {
    min-width: 133px;
    background: #2A43AA;
    font-weight: 600;
    padding: 13px;
}



/*** ====================================================================
    start faq page
====================================================================***/

.faq-form textarea {
    min-height: 135px;
}
.faq-form .form-group {
    margin-bottom: 30px;
}
.faq-form .btn-bg {
    min-width: 182px;
    background: #2A43AA;
    font-weight: 600;
    padding: 13px;
}



/*** ====================================================================
    end faq page
====================================================================***/


/*** ====================================================================
   Start contact section
====================================================================***/
.contact-title .title-bar {
    font-size: 16px;
    color: #98AAFD;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-site {
    margin-bottom: 30px;
}
.contact-text {
    margin-bottom: 20px;
    margin-right: 60px;
}
.contact-info {
    margin-bottom: 20px;
}
.contact-info i {
    color: #6A7596;
    float: left;
    margin-top: 7px;
    font-size: 20px;
}
.contact-info span {
    margin-left: 20px;
    display: inline-block;
}
.map-site {
    width: 100%;
    height: 100%;
    min-height: 350px;
}
.map-site iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*** ====================================================================
  end  contact section
====================================================================***/

