	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/10/2019 19:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-play-arrow:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-envelope:before { content: "\f102"; }
.flaticon-telegram:before { content: "\f103"; }
.flaticon-youtube:before { content: "\f104"; }
.flaticon-paint-palette:before { content: "\f105"; }
.flaticon-pincode:before { content: "\f106"; }
.flaticon-double-angle-pointing-to-right:before { content: "\f107"; }
.flaticon-magnifying-glass:before { content: "\f108"; }
.flaticon-instagram:before { content: "\f109"; }
.flaticon-design:before { content: "\f10a"; }
.flaticon-skype-logo:before { content: "\f10b"; }